<h1>Registration Successful!</h1>
<p>Congratulations, <%= @user.first_name %> <%= @user.last_name %>, your registration was successful.</p>
<p>Please click <%= link_to 'here', '/welcome/index' %> to return to the main page and login.</p>